<div class="overflow-auto">
  <div class="bar rounded-pill mx-auto d-block"></div>
  <div *ngIf="article" class="container mt-5">
    <h2>{{article.title}}</h2>
    <h6 class="text-secondary">{{article.subtitle}}</h6>
    <div>
      <span class="badge bg-primary">{{article.category}}</span>
    </div>
    <hr />
    <div *ngIf="article.image_data!=null">
      <img class="img-fluid rounded mx-auto d-block" [src]="'data:'+ article.image_media_type + ';base64,'
        + article.image_data">
    </div>
    <div>
      <div class="input-group">
        <p class="fst-italic">
          <strong>Abstract:</strong>
        </p>
        <p class="fst-italic ms-1" [innerHTML]="article.abstract"></p>
      </div>
      <p [innerHTML]="article.body"></p>
      <button class="btn btn-secondary" type="submit" (click)="goBack()">Back</button>
      <footer class="text-end">
        <p class="fw-bolder">Modified at {{article.update_date}} by {{article.username}}</p>
      </footer>
    </div>
  </div>