<div class="overflow-auto">
  <div *ngIf="article" class="container mt-5">
    <h2>{{article.title}}</h2>
    <h6 class="text-secondary">{{article.subtitle}}</h6>
    <div>
      <span class="badge bg-primary">{{article.category}}</span>
    </div>
    <hr />
    <img class="img-fluid" [src]="'data:'+ article.image_media_type + ';base64,'
        + article.image_data">
    <p class="fst-italic">
      <strong>Abstract: </strong>
      {{article.abstract}}
    </p>
    <p [innerHTML]="article.body"></p>
    <footer class="text-end">
      <p class="fw-bolder">Modified at {{article.update_date}} by {{article.username}}</p>
    </footer>
  </div>
</div>