<div class="overflow-hidden">
    <nav class="navbar navbar-expand-sm" style="background-color: rgb(4, 76, 171);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-tabs me-auto mb-2 mb-lg-0">
                    <li class="nav-item" [routerLinkActive]="['active']" style="color:black;">
                        <a class="nav-link" [routerLink]="['articles']" style="color:white;">All</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['articles-list/National']" (click)="refresh('National')" style="color:white;">
                            National</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['articles-list/Economy']" (click)="refresh('Economy')" style="color:white;">
                            Economy</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['articles-list/Sports']" (click)="refresh('Sports')" style="color:white;">
                            Sports</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['articles-list/Technology']" (click)="refresh('Technology')" style="color:white;">
                            Technology</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>