<div class="row justify-content-between">
    <div class="col-4">
        <div class="container-fluid">
            <a class="navbar-brands" href="articles">
                <img src="assets\logo.jpeg" alt="" width="190px" height="70px" class="d-inline-block align-text-top">
            </a>
        </div>
    </div>

    <div *ngIf="!isLoggedIn()" class="d-flex flex-row-reverse bd-highlight col-4" style=" width:380px;">
        <div class="p-2 bd-highlight" style="height: 75px;">
            <form id="forms" #loginForm="ngForm">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <input class="form-control" type="text" name="username" placeholder="Username"
                            [(ngModel)]="user!.username" #username="ngModel">
                    </div>
                    <div class="p-2 bd-highlight">
                        <input class="form-control" type="password" name="password" placeholder="Password"
                            [(ngModel)]="user!.password" #password="ngModel">
                    </div>
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-outline-success" type="submit" [disabled]="!loginForm.form.valid"
                            (click)="login()">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="isLoggedIn()" class="d-flex flex-row-reverse bd-highlight col-4" style="width:350px;">
        <div class="p-2 bd-highlight" style="height: 67px; margin-top: 8px;">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="badge text-wrap" style="background-color: rgb(4, 76, 171);">
                        Welcome {{user!.username}}!
                    </div>
                </div>
                <div class="p-2 bd-highlight" (click)="logout()">
                    <img class="icon" src="assets\logout-icon.svg">
                </div>
            </div>
        </div>
    </div>

</div>