.img,
.card-title,
.card-img-overlay {
    cursor: pointer;
    position: absolute;
}

.card-body {
    cursor: auto;
    position: relative;
}

.card:hover {
    border: 1px solid rgb(135, 139, 140);
    transform: scale(0.98);
}

.card-group {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
}

.card-group .card {
    display: block;
    flex-basis: 33.3%;
    /* change this value for each breakpoint*/
}

.edit {
    border: 1px solid; 
    border-color:rgb(4, 76, 171);
    color:rgb(4, 76, 171);
    border-radius: 5px;
    background-color: white;
}

.edit:hover {
    background-color:rgb(4, 76, 171);
    color: white;
    border-radius: 5px;
}

.remove {
    border: 1px solid; 
    border-color: #900c0c;
    color: #900c0c;
    border-radius: 5px;
    background-color: white;
}

.remove:hover {
    background-color: #900c0c;;
    color: white;
    border-radius: 5px;
}

.buttons {
    align-content: end;
}