<div class="overflow-hidden">
    <div class="d-flex" style="margin:5px;">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search here..." aria-label="Search"
                aria-describedby="search-addon" [(ngModel)]="searchText" name="searchText" />
        </div>
        <div *ngIf="isLoggedIn()">
            <button type="button" class="edit" style=" margin-left: 3px;" (click)="createArticle()">Create new
                article</button>
        </div>
    </div>
    <div class="card-group">
        <div *ngFor="let article of articlesList | filter:searchText | category:category">
            <div class="card text-center h-100" style="margin-right: 5px; width: 18rem; margin: 5px;">
                <div *ngIf="article.thumbnail_image!=null">
                    <img class="card-img-top" [src]="'data:'+ article.thumbnail_media_type + ';base64,'
                    + article.thumbnail_image" (click)="toArticleDetail(article.id)" style="filter: brightness(50%); max-width: 100%;
                    max-height: 100%; ">
                </div>
                <div *ngIf="article.thumbnail_image==null">
                    <img class="card-img-top" src="assets\no_image.jpg" (click)="toArticleDetail(article.id)" style="filter: brightness(50%); max-width: 100%;
                            max-height: 100%; ">
                </div>
                <div class="card-img-overlay" (click)="toArticleDetail(article.id)">
                    <div class="d-flex" style="margin-bottom: 5px;">
                        <span class="badge"
                            style="background-color: black; opacity: 50%; align-self: flex-end">{{article.category}}</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center" (click)="toArticleDetail(article.id)" style="color: white;">
                            {{article.title}}</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-text"> {{ article.subtitle }} </h6>
                    <p class="card-text" [innerHTML]="article.abstract"></p>
                    <div *ngIf="isLoggedIn()" class="d-flex row gap-2 mx-auto">
                        <button type="button" class="edit btn-sm" (click)="editArticle(article.id)">Edit</button>
                        <button type="button" class="remove btn-sm" (click)="deleteArticle(article)">Remove</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>