<div class="overflow-auto">
    <div class="d-flex" style="margin-bottom:7px;">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search here..." aria-label="Search"
                aria-describedby="search-addon" [(ngModel)]="searchText" name="searchText" />
        </div>
        <div *ngIf="isLoggedIn()">
            <button type="button" class="btn btn-primary" style="width: 200px; margin-left: 3px"
                (click)="createArticle()">Create new article</button>
        </div>
    </div>
    <div class="card-group">
        <div *ngFor="let article of articlesList | filter:searchText | category:category">
            <div class="card" style="width: 18rem; margin-right: 5px;">
                <img class="image1" [src]="'data:'+ article.thumbnail_media_type + ';base64,'
        + article.thumbnail_image" (click)="toArticleDetail(article.id)">
                <div class="card-body">
                    <h5 class="card-title" (click)="toArticleDetail(article.id)">{{ article.title }}</h5>
                    <h6 class="card-text"> {{ article.subtitle }} </h6>
                    <p class="card-text" [innerHTML]="article.abstract"></p>
                    <div *ngIf="isLoggedIn()" class="d-grid gap-2 mx-auto">
                        <button type="button" class="btn btn-outline-info btn-sm" (click)="editArticle(article.id)">Edit</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteArticle(article)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>