.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .bar {
    background-color: #24a0ed;
    width: 90%;
    height: 25px;
    margin-bottom: 5px;
    opacity: 0.2;
  }

